# Module 10 Challenge: Climate Starter

In [13]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [14]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLAlchemy ORM

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [16]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///../Resources/hawaii.sqlite")

In [17]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [18]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [19]:
# Save references to each table
measurement = Base.classes.measurement

station = Base.classes.station

In [22]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Exploratory Precipitation Analysis

In [31]:
# Find the most recent date in the data set.
most_recent_date = session.query(func.max(measurement.date)).scalar()
print(most_recent_date)

2017-08-23

In [56]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
most_recent_dt = dt.datetime.strptime(most_recent_date, '%Y-%m-%d')
days = 30 * 12
one_year_from_recent_dt = most_recent_dt - dt.timedelta(days=days)

# Perform a query to retrieve the data and precipitation scores
results = session.query(measurement).filter(measurement.date >= one_year_from_recent_dt, measurement.date <= most_recent_date).statement

# Save the query results as a Pandas DataFrame. Explicitly set the column names
df = pd.read_sql(results, session.bind)
df.rename(columns={
    'id': 'ID',
    'station': 'Station',
    'date': 'Date',
    'prcp': 'Precipitation',
    'tobs': 'Time of Observation Bias'
}, inplace=True)

# Sort the dataframe by date
df.sort_values(by='Date', inplace=True)
df

# Use Pandas Plotting with Matplotlib to plot the data

         ID      Station        Date  Precipitation  Time of Observation Bias
0      2370  USC00519397  2016-08-29           0.00                      78.0
991    8829  USC00517948  2016-08-29            NaN                      80.0
1501  14614  USC00519281  2016-08-29           0.35                      78.0
692    7337  USC00514830  2016-08-29           0.04                      80.0
355    5097  USC00513117  2016-08-29           0.17                      78.0
...     ...          ...         ...            ...                       ...
1499  12186  USC00519523  2017-08-22           0.00                      82.0
1500  12187  USC00519523  2017-08-23           0.08                      82.0
354    2724  USC00519397  2017-08-23           0.00                      81.0
990    7635  USC00514830  2017-08-23           0.00                      82.0
2190  19550  USC00516128  2017-08-23           0.45                      76.0

[2191 rows x 5 columns]

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data

## Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number of stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Close Session

In [ ]:
# Close Session
session.close()