# Module 10 Challenge: Climate Starter

In [13]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [14]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLAlchemy ORM

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [16]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///../Resources/hawaii.sqlite")

In [17]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [18]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [19]:
# Save references to each table
measurement = Base.classes.measurement

station = Base.classes.station

In [22]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Exploratory Precipitation Analysis

In [31]:
# Find the most recent date in the data set.
most_recent_date = session.query(func.max(measurement.date)).scalar()
print(most_recent_date)

2017-08-23

In [60]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
most_recent_dt = dt.datetime.strptime(most_recent_date, '%Y-%m-%d')
days = 30 * 12
one_year_from_recent_dt = most_recent_dt - dt.timedelta(days=days)

# Perform a query to retrieve the data and precipitation scores
query = session.query(measurement).\
    filter(measurement.date >= one_year_from_recent_dt, measurement.date <= most_recent_date)\
    .with_entities(measurement.date, measurement.prcp)\
    .statement

# Save the query results as a Pandas DataFrame. Explicitly set the column names
df = pd.read_sql(query, session.bind)
df.rename(columns={
    'date': 'Date',
    'prcp': 'Precipitation'
}, inplace=True)

# Sort the dataframe by date
df.sort_values(by='Date', inplace=True)
df

# Use Pandas Plotting with Matplotlib to plot the data

            Date  Precipitation
0     2016-08-29           0.00
991   2016-08-29            NaN
1501  2016-08-29           0.35
692   2016-08-29           0.04
355   2016-08-29           0.17
...          ...            ...
1499  2017-08-22           0.00
1500  2017-08-23           0.08
354   2017-08-23           0.00
990   2017-08-23           0.00
2190  2017-08-23           0.45

[2191 rows x 2 columns]

In [66]:
# Use Pandas to calculate the summary statistics for the precipitation data
mean = df['Precipitation'].mean()
median = df['Precipitation'].median()
var = df['Precipitation'].var()
std = df['Precipitation'].std()
sem = df['Precipitation'].sem()

print('Summary Statistics of Precipitation Data')
print(f'\tMean: {round(mean, 5)}')
print(f'\tMedian: {median}')
print(f'\tVariance: {round(var, 5)}')
print(f'\tStandard Deviation: {round(std, 5)}')
print(f'\tStandard Error of Mean: {round(sem, 5)}')

Summary Statistics of Precipitation Data
	Mean: 0.17238
	Median: 0.02
	Variance: 0.20544
	Standard Deviation: 0.45325
	Standard Error of Mean: 0.01017

## Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number of stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Close Session

In [ ]:
# Close Session
session.close()